{% extends "base.html" %}

{% block content %}

<div class="titles">

	<div class="title">

		<h1>{{story.title}}</h1>

		<p class="location">{{story.location}}, {{story.time}}</p>

	</div><!-- /end .title -->

	<div class="text">

		<p>{{story.body}}</p>

	</div><!-- /end .text -->

	<div class="title">

		<p class="location">published by: {{story.pseudonym}}</p>

	</div><!-- /end .title -->


	<a href="/index"><p>>> READ MORE STORIES</p></a><a href="/submit"><p>>> CONTRIBUTE YOUR STORY</p></a>


</div><!-- /end .titles --> 
 

{% endblock %}







